# compiled output
/dist
/node_modules

# .env
.env
.env.*
*.env

# Script
script.sh
init.sh
*.sh

# resource
*.xlsx
/resource

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
stress.json
stressReport
stressReport.html
data.csv

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Custom
ecosystem.config.js

# Script
script.sh

# dummy
dummy_*.*

# Script
script.sh
init.sh
*.sh

# Docker prod
Dockerfile.prod
Dockerfile.dev
Prodfile
docker-compose.prod.yaml
docker-compose.dev.yaml

# Redis
/redis-data